@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin primary-ellipses {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@mixin primary-flex {
    display: flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
}
